email=info@mylandmarktech.com
##always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
registry=<> _auth=<> email=<> always-auth=true
allowRepublish=true


#email=kigharo@hotmail.com
#always-auth=true
#//registry.npmjs.org/_auth=YWRtaW46YWRtaW4xMjM=
#allowRepublish=true



#You must edit the .npmrc file in your github repo as such:

#line1: the email address of your github
#line2: remove the comment sign #
#line3: add this //registry.npmjs.org/_auth
#line3: add the encrypted token from Nexus by entring this command into Jenkins server "echo -n 'username:password' | openssl base64"
